




  <div class = 'center'>

    <div class = 'general-content center-text'>
      <div class = 'title'> Sign In </div>
      <div class = 'center-form'>
      
         <% if @error != nil %>
         <%= @error %>
         <% end %>

          <%=  simple_form_for :user, :url => sessions_path, :method => 'post' do |f| %>

          <div class = 'log-in'>
            <b><h4>Email</h4></b>
             <%= f.input :email, :label => false%>

            <b><h4>Password</h4></b>
            <%= f.input :password, :label => false%>
            <br>
            <%= f.hidden_field :return_to, :value => @return_to %>
            <%= f.button :submit, 'Log-In', :class => 'btn' %>
            <% end %>
            <br><br>
            <%= link_to "Sign-Up", new_user_path %>



    </div>
  </div>