 <h3>New Sub-Section</h3>

<%=  simple_form_for :model, :url => article_section_sub_sections_path(params[:article_id], params[:section_id]), 
 					  :method => 'post' do |f| %>
 	  <%= f.label :title %>
	  <%= f.text_field :title, :label => 'Title' %>
	  <br>
	  <%= f.label :text %>
	  <%= f.text_area :text %>
	  <br>
	  <%= f.button :submit, 'Create Sub-Section' %>
 <% end %>