
    
<div class="container">

<div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#red" data-toggle="tab">Red</a></li>
        <li><a href="#orange" data-toggle="tab">Orange</a></li>
        <li><a href="#yellow" data-toggle="tab">Yellow</a></li>
        <li><a href="#green" data-toggle="tab">Green</a></li>
        <li><a href="#blue" data-toggle="tab">Blue</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="red">
            <h1>Red</h1>
            <p>red red red red red red</p>
        </div>
        <div class="tab-pane" id="orange">
            <h1>Orange</h1>
            <p>orange orange orange orange orange</p>
        </div>
        <div class="tab-pane" id="yellow">
            <h1>Yellow</h1>
            <p>yellow yellow yellow yellow yellow</p>
        </div>
        <div class="tab-pane" id="green">
            <h1>Green</h1>
            <p>green green green green green</p>
        </div>
        <div class="tab-pane" id="blue">
            <h1>Blue</h1>
            <p>blue blue blue blue blue</p>
        </div>
    </div>
</div>


<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>    
</div> <!-- container -->


<script type="text/javascript" src="../bootstrap/js/bootstrap.js"></script>





<!--        -->
<!-- Titles -->
<h1>
	<%= get_names(@article) %>
	<%= link_to 'Edit Titles', edit_article_title_path(@article), :class => 'btn' if session[:admin] %>

	<!-- How to edit? Can't just let them have text field, need
	to destroy them properly. hmmm -->
</h1>

<!--          -->
<!-- Sections -->
<br>
<% @section_titles.each do |section_title| %>
	<% section = Section.find_by_section_title_id(section_title) %>

	<!-- Section Title-->
	<h3> 
		<%= section_title.title %>
		<!-- Admin Features for Sections-->
		<% if session[:admin] %>
			<%= link_to 'Edit' , edit_article_section_path(@article, section) , :class => 'btn' %> 
			<%= link_to 'Delete', article_section_path(@article, section), :method => :delete, :class => 'btn' %>
			<%= link_to 'Add Sub-Section', new_article_section_sub_section_path(@article, section), :class => 'btn' %>
		<% end %>
	</h3>

	<!-- Section Text -->
	<% if section.text %>
		<%= section.text %>
	<% end %>


	<!--              -->
	<!-- Sub_Sections -->
	<% section_title.sub_section_titles.each do |sub_title| %>
		<% sub_section = SubSection.find_by_sub_section_title_id(sub_title) %>

		<!-- Sub-Section Title -->
		<h4>
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= sub_title.title %>
			<!-- Admin Features for Sub-Sections -->
			<% if session[:admin] %>
				<%= link_to 'Edit' , edit_article_section_sub_section_path(@article, section, sub_section) , :class => 'btn' %> 
				<%= link_to 'Delete', article_section_sub_section_path(@article, section, sub_section), :method => :delete, :class => 'btn' %>
			<% end %>
		</h4>

		<!-- Sub-Section Text -->
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= sub_section.text %>
	<% end %>
	<br>
	<br>
<% end %>

<!--         -->
<!-- Sources -->
<h1>Sources:
	<%= link_to 'Add Source', new_article_source_path(@article), :class => 'btn' if session[:admin] %>
</h1>
<br>
<% @sources.each do |source| %>
	<!-- Source Title -->
	<h4>
		<%= source.title %>
		<!-- Admin Features for Sources -->
		<% if session[:admin] %>
			<%= link_to 'Edit', edit_article_source_path(@article, source), :class => 'btn' %>
			<%= link_to 'Delete', article_source_path(@article, source), :method => 'delete', :class => 'btn' %>
		<% end %>
	</h4>

	<!-- Source Information -->
	<%= SourceType.find(source.type_id).name %>
	<br>
	<%= source.source %>
	<br>
	<%= link_to source.link if source.link %>
	<br>
	<% source.notes if source.notes %>
	<br>
<% end %>


<!--          -->
<!-- Comments -->
<br><br>
<h4>Comments:</h4><br>
	<% if session[:user] || session[:admin] %>
		<%=  simple_form_for [@article, @comment] do |f| %>

		  <%= f.input :text, :label => 'Add a Comment' %>
		  <%= f.button :submit, 'Submit' %>
	 	<% end %>
	<% else %>
		<%= link_to 'Log-In', new_session_path %> to Comment
	<% end %>

	<br>
	<% @comments.each do |comment| %>

		<h4>
			<%= comment.user.name %>
			<% if session[:admin] %>
				<%= link_to 'Delete', article_comment_path(@article, comment.id), :method => :delete, :class => 'btn' %>
			<% end %>
		</h4>
		<%= comment.text %>
		<br><br>
	<% end %>