


<div class = 'center'>

  <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
  	<li class="active"><a href="<%=@section_titles.first.id%>" data-toggle="tab" class = 'click'><%= @section_titles.first.title %></a></li>
  	<% @section_titles.shift %>
  	<% @section_titles.each do |section_title| %>
  		<li><a href="<%=section_title.id%>" data-toggle="tab" class = 'click'><%= section_title.title %></a></li>
  	<% end %>
  </ul>

<div id = 'section-content' class = 'general-content' >
	<!-- Get first text -->
	<div class='section-text'><%= @first_section.sections.first.text %></div>
	<% @sub_section_titles.each do |title| %>
		<div class = 'sub-section-title'><%= title.title %></div>
		<div class = 'sub-section-text'><%= title.sub_sections.first.text %></div>
	<% end %>
</div>

<div class = 'general-content other-content'>
<!-- Sources -->
<div class = 'title'>Sources
	<%= link_to 'Add Source', new_article_source_path(@article), :class => 'btn' if session[:admin] %>
</div>
<br>
<% @sources.each do |source| %>
	<!-- Source Title -->
	<div class='other-box'>
	<h4>
		<%= source.title %>
		<!-- Admin Features for Sources -->
		<% if session[:admin] %>
			<%= link_to 'Edit', edit_article_source_path(@article, source), :class => 'btn' %>
			<%= link_to 'Delete', article_source_path(@article, source), :method => 'delete', :class => 'btn' %>
		<% end %>
	</h4>

	<!-- Source Information -->
	<%= SourceType.find(source.type_id).name %>
	<br>
	<%= source.source %>
	<br>
	<%= link_to source.link if source.link %>
	<br>
	<% source.notes if source.notes %>
	<br>
	</div>
<% end %>
<div class ='other-more'>
	<% source_count = @article.sources.count %>
	<% if source_count > 3 && source_count != nil %>
		<%= link_to (source_count-3).to_s+' more sources . . . ', root_path %>
	<% end %>
</div>
</div>


<!--          -->
<!-- Comments -->
<div class = 'general-content other-content'>
<div class = 'title'>Comments</div>

	<% @comments.each do |comment| %>
		<div class = 'other-box'>
		<h4>
			<%= comment.user.name %>
			<% if session[:admin] %>
				<%= link_to 'Delete', article_comment_path(@article, comment.id), :method => :delete, :class => 'btn' %>
			<% end %>
		</h4>
		<%= comment.text %>
		</div>
	<% end %>

	<div class ='other-more'>
		<% comment_count = @article.comments.count %>
		<% if comment_count > 3 && comment_count != nil %>
			<%= link_to (comment_count-3).to_s+' more sources . . . ', root_path %>
		<% end %>
	</div>



	<% if session[:user] || session[:admin] %>
		<%=  simple_form_for [@article, @comment] do |f| %>

		  <%= f.input :text, :label => 'Add a Comment' %>
		  <%= f.button :submit, 'Submit' %>
	 	<% end %>
	<% else %>
		<%= link_to 'Log-In', new_session_path %> to Comment
	<% end %>
</div>
