<script>
	alert($('.click'));
	alert('tits');
	$(function action() {
	    $('.click').bind('click', function (e) {
	       $.ajax({
	       type: 'GET',
	       url: '/get_section?section_title='+e.target,
	       success: setSection,
	       error: setEmpty,
	       async:   false
	      });
	    });
	});

	function getSection(target){}

	function setSection(section){
		//empty out div
		$('#section-content').empty();

		//If the section has text, then display it
		if(section.text != null)
			addSectionText(section.text);

		//For each sub_section add a sub section title and sub section text
		jQuery.each(section.sub_sections, function(i, val) {
			addSubSectionTitle(i);
			addSubSectionText(val.text);
		});
	}

	function setEmpty(){

	}

	function addSectionText(text){
		var section_content = document.getElementById('section-content');
		var newText = document.createElement('div');
		newText.setAttribute('class', 'section-text');
		newText.innerHTML = text;
		section_content.appendChild(newText);
	}

	function addSubSectionTitle(title){
		var section_content = document.getElementById('section-content');
		var newTitle = document.createElement('div');
		newTitle.setAttribute('class', 'sub-section-title');
		newTitle.innerHTML = title;
		section_content.appendChild(newTitle);
	}

	function addSubSectionText(text){
		var section_content = document.getElementById('section-content');
		var newText = document.createElement('div');
		newText.setAttribute('class', 'sub-section-text');
		newText.innerHTML = text;
		section_content.appendChild(newText);
	}

</script>


<div class = 'center'>

  <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
  	<li class="active"><a href="<%=@section_titles.first.id%>" data-toggle="tab" class = 'click'><%= @section_titles.first.title %></a></li>
  	<% @section_titles.shift %>
  	<% @section_titles.each do |section_title| %>
  		<li><a href="<%=section_title.id%>" data-toggle="tab" class = 'click'><%= section_title.title %></a></li>
  	<% end %>
  </ul>

    <div id = 'section-content' class = 'section-content' >
    </div>


<!-- Sources -->
<h1>Sources:
	<%= link_to 'Add Source', new_article_source_path(@article), :class => 'btn' if session[:admin] %>
</h1>
<br>
<% @sources.each do |source| %>
	<!-- Source Title -->
	<h4>
		<%= source.title %>
		<!-- Admin Features for Sources -->
		<% if session[:admin] %>
			<%= link_to 'Edit', edit_article_source_path(@article, source), :class => 'btn' %>
			<%= link_to 'Delete', article_source_path(@article, source), :method => 'delete', :class => 'btn' %>
		<% end %>
	</h4>

	<!-- Source Information -->
	<%= SourceType.find(source.type_id).name %>
	<br>
	<%= source.source %>
	<br>
	<%= link_to source.link if source.link %>
	<br>
	<% source.notes if source.notes %>
	<br>
<% end %>


<!--          -->
<!-- Comments -->
<br><br>
<h4>Comments:</h4><br>
	<% if session[:user] || session[:admin] %>
		<%=  simple_form_for [@article, @comment] do |f| %>

		  <%= f.input :text, :label => 'Add a Comment' %>
		  <%= f.button :submit, 'Submit' %>
	 	<% end %>
	<% else %>
		<%= link_to 'Log-In', new_session_path %> to Comment
	<% end %>

	<br>
	<% @comments.each do |comment| %>

		<h4>
			<%= comment.user.name %>
			<% if session[:admin] %>
				<%= link_to 'Delete', article_comment_path(@article, comment.id), :method => :delete, :class => 'btn' %>
			<% end %>
		</h4>
		<%= comment.text %>
		<br><br>
	<% end %>
