 <h3>Sections</h3>
<%=  simple_form_for :model, :url => article_section_path(params[:article_id], @section), 
 					  :method => 'put' do |f| %>
 	  <%= f.label :title %>
	  <%= f.text_field :title, :value => @section_title.title %>
	  <br>
	  <%= f.label :text %>
	  <%= f.text_area :text, :value => @section.text%>
	  <br>
	  <%= f.button :submit, 'Edit section' %>
 <% end %>