 <h3>Titles</h3>
 <br>
 <h4>Different foods can be called by different names. Pork could be called pigs, ham, bacon, etc.</h4>
 <h4>Enter the different names you wish this article to be searchable by. Put commas in between each one</h4>
 <h4>An example of this would be Pork, Pigs, Pig, Bacon, Ham</h4>


 <%=  simple_form_for [@article, @title] do |f| %>
	  <%= f.text_field :title %>
	  <br>
	  <br>
	  <%= f.button :submit, 'Add Title' %>
 <% end %>

 <% if @article.titles.any? %>
 	<h4>Already Existing Titles</h4>
 	<% @article.titles.each do |title| %>
 		<h4>
 			<%= title.title %>
 	<% end %>

 <% end %>

<% if !@titles.empty? %>
 <%= link_to 'Continue', new_article_section_path(@article) %>
<% end %>