<!DOCTYPE html>
<html>
  <head>
    <title>Know Your Food</title>
      <%= stylesheet_link_tag "application"%>
      <%= javascript_include_tag 'jquery', 'application' %>
      <%= csrf_meta_tags %>

  </head>

<body>
  <div class="header">
    <!-- Header -->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">

          <!-- Title-->
          <%= link_to 'Know Your Food', root_path, :class => 'brand' %>

          <!-- Horizontal Tabbed Nav Bar -->
          <section id = 'tabs' >
            <ul class="nav nav-tabs">
              <!-- Articles Tab -->
              <% if request.url.include? 'articles' %>
                <li class="active">
                  <%= link_to 'Articles', articles_path %>
                </li>
              <% else %>
                  <li><%= link_to 'Articles', articles_path %></li>
              <% end %>
              <!-- Blog Tab -->
              <% if request.url.include? 'blog' %>
                  <li class="active">
                    <%= link_to 'Blog', root_path %>
                  </li>
                <% else %>
                    <li><%= link_to 'Blog', root_path %></li>
                <% end %>
              </ul>
            </section>

          <!-- Vertical Tabbed Nav Bar -->
          <section id = 'stacked'>
            <br><br>
            <ul class="nav nav-tabs nav-stacked">
              <li><%= link_to 'Articles', articles_path %></li>
              <br>
              <li><%= link_to 'Articles', articles_path %></li>
            </ul>
          </section>

        </div>

        <section id = 'session-link' >
          <% if session[:user] || session[:admin] %>
            <%= link_to 'Sign Out', session_path(0), :method => :delete %>
          <% else %>
            <%= link_to 'Sign In', new_session_path %>
          <% end %>
        </section>


      </div>
    </div>


    <div class = 'grey_box'>
      <form action="/search" id="search">
        <input name="q" type="text" size="40" placeholder="Search..." />
        <%= image_submit_tag("find.png", :class => 'search_icon' )%>
      </form>
    </div>
  </div>
  
  <div class="content">
    <%= yield %>
  </div>

</body>
</html>
